<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<!--layout:decorator="base/main"-->

<head th:include="base/frame :: headfile"></head>

<body>

<div th:replace="base/frame :: navbar-header"></div>

<div th:replace="base/frame :: sidebar"></div>

    <!-- START PAGE CONTENT-->
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div id="main" style="height: 800px;">
                    <br /> <br /> <br />
                    <br /> <br /> <br />
                    <h1 class="page-title">欢迎使用 KPI 效率分析系统</h1>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- END PAGE CONTENT-->
</body>
</html>