<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base/main">
<head>
    <meta charset="UTF-8">
    <title>岸桥作业效率分析</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>

<div class="page-content-wrapper">
    <div class="page-content">

        <div layout:fragment="content">

            <!-- 查询模块 -->
            <div layout:fragment="query">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <form id="qcEfficiencyForm" action="/queryQcEfficiencyParams" method="get" class="form-horizontal">
                                <div class="form-body">

                                    <!-- 第一行 -->
                                    <div class="row">

                                        <!-- 查询条件1 日期-->
                                        <div class="col-md-4" layout:fragment="query_condition_1">
                                            <div class="form-group col-md-12">
                                                <div class="input-group" id="queryDate">
                                                    <input type="text" class="form-control" name="job_date" placeholder="作业日期" />
                                                    <span class="input-group-btn">
																		<button class="btn default date-range-toggle" type="button">
																			<i class="fa fa-calendar"></i>
																		</button>
													</span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 查询条件2 切换Box或Cycle-->
                                        <div class="col-md-4" layout:fragment="query_condition_2">
                                            <div class="form-group col-md-12">
                                                <select id="queryBoxOrCycle" name="queryBoxOrCycle"
                                                        class="form-control select2-allow-clear" data-placeholder="岸桥效率类型">
                                                    <option></option>
                                                    <option value="1">按Box进行显示</option>
                                                    <option value="2">按Cycle进行显示</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="form-actions">
                                            <div class="col-md-4">
                                                <button type="button" class="btn green" id="searchBtn">查 询</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 数据展示模块 -->
            <div layout:fragment="data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div id="qcEfficiency" style="height: 600px;">

                                <!-- 用以展示岸桥效率图表 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" layout:fragment="script" th:inline="javascript">

    // 全局变量
    var legendDataOfQcIds = [[${qcIds}]];               // 获取到的Echart legend值 QC_Id
    var xAxisDataOfCreateds = [[${qcCreateds}]];        // 获取到的Echart xAxis横坐标值 创建时间
    var QcSeriesLabels = [[${qcSeriesLabels}]];         // Echart中series的分组数据，总组数
    var QcCountSeries = [[${qcCountSeries}]];           // Echart中series的分组数据，各组总数，折线数据

    var QcEfficiencyType = [[${qcEfficiencyType}]];     // 获取到查询岸桥分时效率的类型

    function initQcEfficiency() {
        var yAxisName;
        if (QcEfficiencyType == "TRANSACTION_ID") {
            yAxisName = '效率（Cycle/小时）';
        } else {
            yAxisName = '效率（Box/小时）'
        }

        console.log(QcEfficiencyType);
        console.log(yAxisName);
        console.log(QcSeriesLabels);
        console.log(QcCountSeries);

        /********组装series的数据 Start********/
        var QcSeries = [];

        for (var index in QcSeriesLabels) {

            QcSeries.push({
                name : legendDataOfQcIds[index],
                type : 'bar',
                barMaxWidth : '60',
                label : {
                    normal : {
                        show : true,
                        position : 'top'
                    }
                },
                data : QcSeriesLabels[index]
            });
        }

        legendDataOfQcIds.push('固定时间内总工作效率');
        QcSeries.push({
            name : '固定时间内总工作效率',
            type : 'line',
            data : QcCountSeries
        });
        /********组装series的数据 End********/

        var QC_JobEifficiencyEchart = echarts.init(document.getElementById('qcEfficiency'), 'vintage');

        var QC_JobEfficiencyOption = {
            title : {
                text : '岸桥分时作业效率',
                left : 'center',
            },
            tooltip : {
                trigger : 'axis',
                axisPointer : { // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            toolbox : {
                feature : {
                    saveAsImage : {
                        show : true
                    }
                }
            },
            legend : {
                data : legendDataOfQcIds,
                top : 40,
            },
            xAxis : [ {
                type : 'category',
                data : xAxisDataOfCreateds,
                axisLabel : {
                    interval : 0,
                    margin : 30,
                    textStyle : {
                        fontSize : 14
                    }
                },
                axisPointer : {
                    type : 'shadow'
                },
                splitLine : {
                    show : true
                }
            } ],
            yAxis : [{
                type : 'value',
                name : yAxisName,
                nameLocation : 'end',
                nameTextStyle : {
                    fontSize : 15
                }
            }],
            grid : { // 控制图的大小，调整下面这些值就可以，
                x : 100,
                x2 : 100,
                y2 : 190,// y2可以控制 X轴跟Zoom控件之间的间隔，避免以为倾斜后造成 label重叠到zoom上
                top : 120,
                left : 100,
                width : 1000,
                height : 395
            },
            dataZoom : [ {
                type : 'slider',
                start : 0,
                end : 30
                //slider的默认结束位置，该值可影响柱子的宽度
            } ],
            series : QcSeries
        };

        QC_JobEifficiencyEchart.setOption(QC_JobEfficiencyOption);
    };

    $(function() {

        $('input[name=job_date]').daterangepicker({
            timePicker : true,          // 显示时间
            timePicker24Hour : true,    // 24小时制
            startDate : '1999-01-01',
            endDate : new Date(),
            locale : {
                format : 'YYYY-MM-DD HH',
                applyLabel: '确认',
                cancelLabel: '取消',
                daysOfWeek: ["日","一","二","三","四","五","六"],
                monthNames: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
            }
        });

        initQcEfficiency();
    });

    $("#searchBtn").click(function () {

        var params = $("#qcEfficiencyForm").serialize();

        $.ajax({
            url : 'qc_efficiency_analysis/queryByParams',
            type : 'GET',
            data : params,
            success : function (data) {
                var result = data.result;

                // 更新查询数据
                legendDataOfQcIds = result.qcIds;
                xAxisDataOfCreateds = result.qcCreateds;
                QcSeriesLabels = result.qcSeriesLabels;
                QcCountSeries = result.qcCountSeries;
                QcEfficiencyType = result.qcEfficiencyType;
                initQcEfficiency();
            }
        });
    });
</script>

</body>
</html>