<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
      <!--layout:decorator="base/main"-->

<head th:include="base/frame :: headfile"></head>

<body>

<div th:replace="base/frame :: navbar-header"></div>

<div th:replace="base/frame :: sidebar"></div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">岸桥作业效率</h1>
        </div>
    </div>

    <div class="row">

        <form id="qcEfficiencyForm" action="/queryQcEfficiencyParams" method="get" class="form-horizontal">
            <div class="form-body">

                <div class="row">
                    <div class="col-lg-4 col-md-8">
                        <div class="panel panel-primary">
                            <div class="input-group" id="queryDate">
                                <input type="text" class="form-control" name="job_date" placeholder="作业日期" />
                                <span class="input-group-btn">
                                    <button class="btn default date-range-toggle" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <div class="panel panel-primary">
                            <select id="queryBoxOrCycle" name="queryBoxOrCycle"
                                    class="form-control select2-allow-clear" placeholder="岸桥效率类型">
                                <option value=" " disabled selected style="display: none">请选择岸桥效率类型，默认按Box进行显示</option>
                                <option value="1">按Box进行显示</option>
                                <option value="2">按Cycle进行显示</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-4">
                        <div class="panel">
                            <button type="button" class="btn btn-primary" id="searchBtn">查 询</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                </div>

                <div class="panel-body">
                    <div id="qcEfficiency" style="height:600px;">

                        <!-- 岸桥效率展示数据 -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" layout:fragment="script" th:inline="javascript">

    // 全局变量
    var legendDataOfQcIds = [[${qcIds}]];               // 获取到的Echart legend值 QC_Id
    var xAxisDataOfCreateds = [[${qcCreateds}]];        // 获取到的Echart xAxis横坐标值 创建时间
    var QcSeriesLabels = [[${qcSeriesLabels}]];         // Echart中series的分组数据，总组数
    var QcCountSeries = [[${qcCountSeries}]];           // Echart中series的分组数据，各组总数，折线数据

    var QcEfficiencyType = [[${qcEfficiencyType}]];     // 获取到查询岸桥分时效率的类型

    function initQcEfficiency() {
        var yAxisName;
        if (QcEfficiencyType == "TRANSACTION_ID") {
            yAxisName = '效率（Cycle/小时）';
        } else {
            yAxisName = '效率（Box/小时）'
        }

        /********组装series的数据 Start********/
        var QcSeries = [];

        for (var index in QcSeriesLabels) {

            QcSeries.push({
                name : legendDataOfQcIds[index],
                type : 'bar',
                barMaxWidth : '60',
                label : {
                    normal : {
                        show : true,
                        position : 'top'
                    }
                },
                data : QcSeriesLabels[index]
            });
        }

        legendDataOfQcIds.push('固定时间内总工作效率');
        QcSeries.push({
            name : '固定时间内总工作效率',
            type : 'line',
            data : QcCountSeries
        });
        /********组装series的数据 End********/

        var QC_JobEifficiencyEchart = echarts.init(document.getElementById('qcEfficiency'), 'vintage');

        var QC_JobEfficiencyOption = {
            title : {
                text : '岸桥分时作业效率',
                left : 'center',
            },
            tooltip : {
                trigger : 'axis',
                axisPointer : { // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            toolbox : {
                feature : {
                    saveAsImage : {
                        show : true
                    }
                }
            },
            legend : {
                data : legendDataOfQcIds,
                top : 40,
            },
            xAxis : [ {
                type : 'category',
                data : xAxisDataOfCreateds,
                axisLabel : {
                    interval : 0,
                    margin : 30,
                    textStyle : {
                        fontSize : 14
                    }
                },
                axisPointer : {
                    type : 'shadow'
                },
                splitLine : {
                    show : true
                }
            } ],
            yAxis : [{
                type : 'value',
                name : yAxisName,
                nameLocation : 'end',
                nameTextStyle : {
                    fontSize : 15
                }
            }],
            grid : { // 控制图的大小，调整下面这些值就可以，
                x : 100,
                x2 : 100,
                y2 : 190,// y2可以控制 X轴跟Zoom控件之间的间隔，避免以为倾斜后造成 label重叠到zoom上
                top : 120,
                left : 100,
                width : 1000,
                height : 395
            },
            dataZoom : [ {
                type : 'slider',
                start : 0,
                end : 30
                //slider的默认结束位置，该值可影响柱子的宽度
            } ],
            series : QcSeries
        };

        QC_JobEifficiencyEchart.setOption(QC_JobEfficiencyOption);
    };

    $(function() {
        $('input[name=job_date]').daterangepicker({
            timePicker : true,                                      // 显示时间
            timePicker24Hour : true,                                // 24小时制
            timePickerSeconds : true,                               // 事件显示到秒
            startDate : moment().hours(0).minutes(0).seconds(0),    // 设置开始日期
            endDate : moment(new Date()),                           // 设置结束日期
            maxDate : moment(new Date()),                           // 设置最大日期
            ranges : {
                '今天' : [moment().startOf('day'), moment()],
                '昨天' : [moment().subtract(1, 'day'), moment().subtract(1, 'day')],
                '最近一周': [moment().subtract(6, 'days'), moment()],
                '前30天': [moment().subtract(29, 'days'), moment()],
                '本月': [moment().startOf('month'), moment().endOf('month')],
                '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            showWeekNumbers : true,
            locale : {
                format : 'YYYY-MM-DD HH:mm:ss',                     // 设置显示格式
                applyLabel  : '确认',                               // 确定按钮文本
                cancelLabel : '取消',                               // 取消按钮文本
                fromLabel : '从',
                toLabel : '到',
                customRangeLabel : '自定义',
                daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            }

        }, function (start, end, label) {
            timeRangeChange = [start.format('YYYY-MM-DD HH:mm:ss'), end.format('YYYY-MM-DD HH:mm:ss')];
            console.log(timeRangeChange);
        });

        //initQcEfficiency();
    });

    $("#searchBtn").click(function () {

        var params = $("#qcEfficiencyForm").serialize();

        $.ajax({
            url : 'qc_efficiency_analysis/queryByParams',
            type : 'GET',
            data : params,
            success : function (data) {
                var result = data.result;

                console.log(result);
                // 更新查询数据
                legendDataOfQcIds = result.qcIds;
                xAxisDataOfCreateds = result.qcCreateds;
                QcSeriesLabels = result.qcSeriesLabels;
                QcCountSeries = result.qcCountSeries;
                QcEfficiencyType = result.qcEfficiencyType;
                initQcEfficiency();
            }
        });
    });
</script>

</body>
</html>