<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base/main">

<head>
    <meta charset="UTF-8">
    <title>船时岸桥作业效率</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

<div class="page-content-wrapper">
    <div class="page-content">
        <div layout:frament="content">

            <!-- 查询模块 -->
            <div layout:fragment="query">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <form id="" action="#" method="get" class="form-horizontal">
                                <div class="form-body">
                                    <!-- 第一行 -->
                                    <div class="row">
                                        <!-- 查询条件1 日期-->
                                        <div class="col-md-4" layout:fragment="query_condition_1">
                                            <div class="form-group col-md-12">
                                                <div class="input-group" id="queryDate">
                                                    <input type="text" class="form-control" name="job_date" placeholder="作业日期" />
                                                    <span class="input-group-btn">
                                                                <button class="btn default date-range-toggle" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="form-actions">
                                            <div class="col-md-4">
                                                <button type="button" class="btn green" id="searchBtn">查 询</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 数据展示模块 -->
            <div layout:fragment="data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div id="vesselQcPro" style="height: 600px;">

                                <!-- 用以展示岸桥效率图表 -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div id="qcOfVesselData" style="height: 600px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/plugins/jquery.alerts.js}"
        src="../../static/plugins/jquery.alerts.js"></script>

<script type="text/javascript" layout:fragment="script" th:inline="javascript">

    // 全局变量
    var vesselQcProData = [[${vesselQcProductivitys}]];                // 获取船时岸桥工作效率信息

    $(function() {
        $('input[name=job_date]').daterangepicker({
            timePicker : true,          // 显示时间
            timePicker24Hour : true,    // 24小时制
            startDate : '1999-01-01',
            endDate : new Date(),
            locale : {
                format : 'YYYY-MM-DD HH',
                applyLabel: '确认',
                cancelLabel: '取消',
                daysOfWeek: ["日","一","二","三","四","五","六"],
                monthNames: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
            }
        });

        initVesselQcProEchart();
    });

    /**
     * 获取船时岸桥效率柱状图的参数
     *
     * @param vesselQcProData 后台获取未处理的数据
     * @returns 初始化柱状图的参数
     */
    function getVesselQcProEchartOptions(vesselQcProData) {

        var vesselNames = [];       // 船到访名
        var vesselPros = [];        // 船到访对应工作效率

        for (var index in vesselQcProData) {
            vesselNames.push(vesselQcProData[index].vesselName);
            vesselPros.push(vesselQcProData[index].vesselProductivity);
        }

        vesselNames.push('DW89JK01');
        vesselPros.push(15.9);

        console.log(vesselNames);
        console.log(vesselPros);

        var VesselQcProOption = {
            title : {
                text : '船时岸桥分时效率',
                left : 'center',
            },
            tooltip : {
                trigger : 'axis',
                axisPointer : { // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            toolbox : {
                feature : {
                    saveAsImage : {
                        show : true
                    }
                }
            },
            legend : {
                data : '船时效率',
                top : 40,
            },
            xAxis : [ {
                type : 'category',
                data : vesselNames,
                axisLabel : {
                    interval : 0,
                    margin : 30,
                    textStyle : {
                        fontSize : 14
                    }
                },
                axisPointer : {
                    type : 'shadow'
                },
                splitLine : {
                    show : true
                }
            } ],
            yAxis : [{
                type : 'value',
                name : '效率（作业量/小时）',
                nameLocation : 'end',
                nameTextStyle : {
                    fontSize : 15
                }
            }],
            grid : { // 控制图的大小，调整下面这些值就可以，
                x : 100,
                x2 : 100,
                y2 : 190,// y2可以控制 X轴跟Zoom控件之间的间隔，避免以为倾斜后造成 label重叠到zoom上
                top : 120,
                left : 100,
                width : 1000,
                height : 395
            },
            dataZoom : [ {
                type : 'slider',
                start : 0,
                end : 30
                //slider的默认结束位置，该值可影响柱子的宽度
            } ],
            series : {
                name : '船时效率',
                type : 'bar',
                data : vesselPros,
                clickable : true,
                markPoint : {
                    data : [
                        {type : 'max', name : '最大值'},
                        {type : 'min', name : '最小值'}
                    ]
                }
            }
        };

        return VesselQcProOption;
    }

    /**
     * 初始化 船时岸桥分时效率 柱状图
     */
    function initVesselQcProEchart() {

        var VesselQcProEchart = echarts.init(document.getElementById('vesselQcPro'), 'vintage');

        VesselQcProEchart.setOption(getVesselQcProEchartOptions(vesselQcProData));

        VesselQcProEchart.on('click', function(param) {

            jConfirm('确定查询船次 '+ param.name +' 下的岸桥作业效率？', "提示！", function(opt) {
                if (opt) {
                    var option = {
                        url : 'vessel_qc_productivity/qcProOfVessel',
                        type : 'GET',
                        data : {'vesselName' : param.name},
                        success : function (data) {

                            $("#qcOfVesselData").empty();

                            var result = data.result;

                            var QcProsOfVesselEchart = echarts.init(document.getElementById('qcOfVesselData'), 'vintage');

                            QcProsOfVesselEchart.setOption(getQcProOfVesselEchartOptions(result, param.name));
                        }
                    };
                    $.ajax(option);

                } else {
                    return;
                }
            });
        });
    }

    /**
     *  根据后台数据设计岸桥效率
     *
     * @param QcProsData
     */
    function getQcProOfVesselEchartOptions(QcProsData, vesselName) {

        var qcIds = [];
        var productivity = [];

        for (var index in QcProsData) {
            qcIds[index] = QcProsData[index].qcId;
            productivity[index] = QcProsData[index].productivity;
        }

        var QcProsOfVesselOptions = {
            title : {
                text : '船次' + vesselName + '对应下的岸桥效率',
                left : 'center',
            },
            tooltip : {
                trigger : 'axis',
            },
            toolbox : {
                show : true,
                feature : {
                    mark : {show : true},
                    dataView : {show : true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show : true}
                }
            },
            xAxis : [ {
                type : 'category',
                data : qcIds,
                axisLine: {show:false},
                axisTick: {show:false},
                axisLabel: {show:false},
                splitArea: {show:false},
                splitLine: {show:false}
            } ],
            yAxis : [{
                type : 'value',
                name : '效率（作业量/小时）',
                axisLabel:{formatter:'{value}'}
            }],
            grid: {y: 70, y2:30, x2:20},
            series : {
                name : '分时效率',
                type : 'bar',
                data : productivity,
                itemStyle: {
                    normal: {
                        color: function(params) {
                            // build a color map as your need.
                            var colorList = [
                                '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                                '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                                '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                            ];
                            return colorList[params.dataIndex]
                        },
                        label: {
                            show: true,
                            position: 'top',
                            formatter: '{b}\n{c}'
                        }
                    }
                }
            }
        }

        return QcProsOfVesselOptions;
    }



</script>

</body>

</html>