<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base/main">
<head>
    <meta charset="UTF-8">
    <title>船时效率分析</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<div class="page-content-wrapper">
    <div class="page-content">

        <div layout:fragment="content">

            <!-- 查询模块 -->
            <div layout:fragment="query">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <form action="" th:method="post" class="form-horizontal">
                                <div class="form-body">

                                    <!-- 第一行 -->
                                    <div class="row">

                                        <div class="col-md-4" layout:fragment="query_condition_1">
                                            <select id="vessel_voyage" name="vessel_voyage" class="form-control select2" placeholder="船次">
                                            </select>
                                        </div>

                                        <!-- 查询条件2 切换Box或Cycle-->
                                        <div class="col-md-4" layout:fragment="query_condition_2">
                                            <div class="form-group col-md-12">
                                                <select id="queryBoxOrCycle" name="queryBoxOrCycle"
                                                        class="form-control select2-allow-clear" data-placeholder="--请选择岸桥效率类型--">
                                                    <option></option>
                                                    <option value="1">按box进行显示</option>
                                                    <option value="2">按Cycle进行显示</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <button type="button" class="btn green" id="searchBtn">查 询</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 数据展示模块 -->
            <div layout:fragment="data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div id="main" style="height: 500px;"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div id="main1" style="height: 500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" layout:fragment="script">

    $(function() {
        jobQuanData();
        $("#searchBtn").bind("click",function () {

            jobQuanData();
            $("#main1").empty();
        })

        loadVesselVoyage();
    });

    function loadVesselVoyage() {

        /*var data = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];
        $("#vessel_voyage").select2({
            data: data,
            placeholder:'请选择',
            allowClear:true
        })*/

        /*$("#vessel_voyage").select2({
            ajax: {
                url: "/vessel_voyageList",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        vesselInfo: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data) {
                    var noData = [
                        {id:0,text:'暂无数据22'}
                    ];
                    return {
                        results: noData
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatRepoProvince,
            templateSelection: formatRepoProvince
        });*/

        //远程筛选
        $("#vessel_voyage").select2({
            placeholder: "--请选择船次--",

            ajax: {
                url: "/vessel_voyageList",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        vesselInfo: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    var vessel_voyageList = data.data.rows;
                    var vessel_visit = [];

                     var realNames = new Array();
                     for(var i in vessel_voyageList){

                         realNames.push({'id':i,'text':vessel_voyageList[i].vessel_visit});
                     }
                     return {
                         results: realNames
                     };
                },
                cache: true
            },
            //escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            //minimumInputLength: 1,
            templateResult: formatRepo // omitted for brevity, see the source of this page
            //templateSelection: formatRepoProvince // omitted for brevity, see the source of this page
        });
    }

    function formatRepo(repo){

        return repo.text;
    }

    function formatRepoProvince(repo) {

        alert(repo.loading+"   TTT   "+repo.text+"  UUU  "+repo.name);
        if (repo.loading) return repo.text;
        var markup = "<option>"+repo.text+"</option>";
        return markup;
    }


    //加载柱状图
    function jobQuanData(){

        var vesselQCList;
        var qcArray = [];
        var QCjobEff = [];
        //获取船次
        var vessel_voyage = $("#vessel_voyage").text().trim();
        var qcEfficiencyType = $("#queryBoxOrCycle").val();
        var param = {vessel_voyage:vessel_voyage,qcEfficiencyType:qcEfficiencyType};

        var yAxisName;
        if(qcEfficiencyType == '1'){

            yAxisName = '效率(box/小时)';
        }else if(qcEfficiencyType == '2'){
            yAxisName = '效率(cycle/小时)';
        }else{
            yAxisName = '';
        }

        $.ajax({
            url: '/vessel_QCefficiency_analysisChart1',
            type: 'GET',
            dataType: 'html',
            timeout: gAjaxTimeout,
            data: param,
            error: function(xhr, textStatus, thrownError){
                var err = $.i18n.prop('errors.ajax', xhr.status, textStatus);
                alert(err);
            },
            success: function(response) {
                var res = eval('(' + response + ')');

                if(res.result == "ok"){
                    if(res.data != null){
                        vesselQCList = res.data.rows;

                        for(var i in vesselQCList){

                            qcArray[i] = vesselQCList[i].qc_id;
                            QCjobEff[i] = vesselQCList[i].jobEff;
                        }

                        showBarGraphJobQuan(qcArray,QCjobEff,yAxisName);
                    }
                }
            }
        });
    }

    function showBarGraphJobQuan(qcArray,QCjobEff,yAxisName) {

        // 基于准备好的dom，初始化echarts实例
        var qcEfficiencyChart = echarts.init(document.getElementById('main'), 'walden');

        // 指定图表的配置项和数据
        var option = {
            title : {
                text : '船时效率分析',
                left : 'center'
            },
            tooltip : {
                trigger : 'axis',
                axisPointer : { // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            toolbox : {
                feature : {
                    saveAsImage : {
                        show : true
                    }
                }
            },
            legend : {
                data : [ 'QC作业量' ],
                top : 30,
            },
            xAxis : [ {
                type : 'category',
                name : '岸桥编号',
                nameLocation : 'middle',
                nameGap : 50,
                nameTextStyle : {
                    fontSize : 15
                },
                data : qcArray,
                axisLabel : {
                    interval : 0,
                    //rotate : 60, //控制x轴label角度
                    textStyle : {
                        fontSize : 14
                    }
                },
                splitLine : {
                    show : false
                }
            } ],
            yAxis : [ {
                type : 'value',
                name : yAxisName,
                nameLocation : 'middle',
                nameGap : 45,
                nameTextStyle : {
                    fontSize : 15
                },
                min : 0,
                max : 100,
                interval : 10,
                axisLabel : {
                    formatter : '{value}'
                }
            }],

            grid : { // 控制图的大小，调整下面这些值就可以，
                x : 100,
                x2 : 100,
                y2 : 190,// y2可以控制 X轴跟Zoom控件之间的间隔，避免以为倾斜后造成 label重叠到zoom上
            },

            dataZoom : [ {
                type : 'slider',
                start : 0,
                end : 30
                //slider的默认结束位置，该值可影响柱子的宽度
            } ],
            series : [ {
                name : 'QC101作业量',
                type : 'bar',
                barMaxWidth : '60',
                itemStyle : {
                    normal : {
                        color : function(params) { //根据某些条件设置某个柱子单独着色
                            /**
                            var colorList = [
                                '#C1232B', '#B5C334', '#FCCE10', '#E87C25', '#27727B',
                                '#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
                                '#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
                            ];**/
                            return '#45C2F9';
                        }
                    }
                },
                label : {
                    normal : {
                        show : true,
                        position : 'top'
                    }
                },
                data : QCjobEff
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        qcEfficiencyChart.setOption(option);

        //QC柱状图click事件
        qcEfficiencyChart.on('click',function(params) {

            var QCID = params.name;

            reloadPieData(QCID);
            //reloadPieChart();
        })

    }
    function reloadPieData(QCID) {

        var param = {QCID:QCID};
        var task_type = [];
        var task_cost = [];

        $.ajax({
            url: '/getPieData',
            type: 'GET',
            dataType: 'html',
            timeout: gAjaxTimeout,
            data: param,
            error: function(xhr, textStatus, thrownError){
                var err = $.i18n.prop('errors.ajax', xhr.status, textStatus);
                alert(err);
            },
            success: function(response) {
                var res = eval('(' + response + ')');

                if(res.result == "ok"){
                    if(res.data != null){
                        pieDataList = res.data.rows;

                        for(var i in pieDataList){

                            task_type[i] = pieDataList[i].task_type;
                            task_cost[i] = pieDataList[i].task_cost;
                        }
                    }
                    reloadPieChart(task_type,task_cost);
                }
            }
        });
    }
    //加载饼状图
    function reloadPieChart(task_type,task_cost){

        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('main1'), 'walden');
        var params = [];

        for(var i in task_type){

            params[i] = {value:task_cost[i], name:task_type[i]}
        }

        option1 = {
            title : {
                text: '岸桥用时分析',
                subtext: '----',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data: task_type
                //data:['SpreaderToVessel','SpreaderToAgv','Park','AgvToPlatform','PlatformToVessel','VesselToPlatform']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'访问来源',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data: params
                    /*data:[
                        {value:335, name:'SpreaderToVessel'},
                        {value:310, name:'SpreaderToAgv'},
                        {value:234, name:'Park'},
                        {value:135, name:'AgvToPlatform'},
                        {value:1548, name:'PlatformToVessel'},
                        {value:1548, name:'VesselToPlatform'}
                    ]*/
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option1);

    }

</script>

</body>
</html>